<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta name="robots" content="nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/font/BDO-Grotesk/BDOGrotesk-VF.woff2"
            crossOrigin=""
        />
        <link rel="stylesheet" type="text/css" href="/style/global.css" />
        <title>404</title>
    </head>
    <body>
        <h1>404</h1>
    </body>
</html>
