<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta name="robots" content="nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/static/font/BDO-Grotesk/BDOGrotesk-VF.woff2"
            crossOrigin=""
        />
        <link rel="icon" type="image/x-icon" href="/static/images/icons/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/style/global.css" />
        <title>404</title>
    </head>
    <body>
        <div class="page_404">404</div>
    </body>
</html>
