<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta name="robots" content="nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            href="/static/font/BDO-Grotesk/BDOGrotesk-VF.woff2"
            crossOrigin=""
        />
        <script type="text/javascript" src="/static/script/theme.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style/global.css" />
        <link rel="stylesheet" type="text/css" href="/static/style/login.css" />
        <title>Login Form</title>
    </head>
    <body>
        <main id="__login">
            <form id="__login_form">
                <div class="form-header">
                    <h1>Login</h1>
                    <div id="__login_error" style="font-size: 10px"></div>
                </div>

                <label>
                    <input name="email" type="email" placeholder="Email" required />
                </label>
                <label>
                    <input name="password" type="password" placeholder="••••••" required />
                </label>

                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </main>

        <script type="text/javascript" src="/static/script/form_action.js"></script>
    </body>
</html>
