@import "variable.scss";

@font-face {
    font-family: "BDO Grotesk";
    src: url("/ponpub/fonts/BDO-Grotesk/BDOGrotesk-VF.woff2") format("woff2-variations");
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--accents-1);
    color: var(--accents-12);

    font-family: var(--font-sans);
    font-size: 16px;
}
