.container {
    position: relative;

    display: inline-flex;
    align-items: center;

    color: inherit;
    background-color: inherit;

    border: 1px solid;
}

.select {
    appearance: none;
    cursor: pointer;

    font: inherit;
    text-transform: capitalize;
    line-height: 1.5;
    text-rendering: auto;

    border: none;
    border-radius: 0;
    padding-left: 0.5em;
    padding-right: 2em;

    height: 100%;
    width: 100%;

    color: inherit;
    background-color: inherit;
}

.suffix {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;
    color: inherit;
    background-color: transparent;

    pointer-events: none;

    > svg {
        fill: currentColor;
    }
}
